[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
isort = "*"
black = "*"
flake8 = "*"
mypy = "*"
pydocstyle = "*"

[packages]
flask = "*"
flask-cors = "*"
flask-restx = "*"
python-dotenv = "*"
flask-accepts = "*"
marshmallow = "*"

[requires]
python_version = "3.8"
